* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.list {
    list-style: none;
    text-decoration: none;
}

h1 {
    text-align: center;
}

a {
    color: unset;
    text-decoration: unset;
}

div {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 20px 0;
}

img {
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

